*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --outer-padding-x: 2rem;
  --outer-padding-y: 1.75rem;
  --nav-padding-x: 0.75rem;
  --nav-padding-y: 0.5rem;
  --shadow-short: 1px 1px 5px 1px silver;
  --shadow-long: 1px 1px 15px 1px silver;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: crimson;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding-inline: var(--outer-padding-x);
  margin: 0 auto;
}

header {
  box-shadow: var(--shadow-short);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: calc(var(--outer-padding-y) / 2);
}

.logo {
  display: inline-block;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 700;
  min-width: fit-content;
}

.navbar button {
  font: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: transparent;
  color: inherit;
  padding-block: var(--nav-padding-y);
  padding-inline: var(--nav-padding-x);
  margin: 0;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

nav button:hover,
nav button:active {
  border-bottom: 2px solid;
  cursor: pointer;
}

main {
  flex-grow: 1;
}

section {
  padding-block: var(--outer-padding-y);
}

.section-heading {
  font-size: 2rem;
  text-align: center;
  padding-block: var(--outer-padding-y);
}

footer {
  justify-self: end;
  padding-block: var(--outer-padding-y);
  box-shadow: var(--shadow-short);
}

footer p {
  color: darkred;
  font-size: 0.9rem;
  text-align: center;
}

/* Page specific styles */
/* Homepage related styles */
.hero {
  height: 80vh;
  width: 100%;
  color: white;
  position: relative;
  background-image: url("./images/hero-background.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
}

.hero-content {
  text-align: center;
  width: 100%;
  background: linear-gradient(#00000080, #00000080);
  padding: 4rem 2rem;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3.25rem;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  font-weight: 300;
}

.about p {
  padding-bottom: var(--outer-padding-y);
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.highlights {
  background-color: crimson;
  color: white;
  padding-block: calc(var(--outer-padding-y) * 1.5);
  padding-inline: var(--outer-padding-x);
}

.highlights ul {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2;
  text-align: center;
  list-style-type: none;
  padding-block: var(--outer-padding-y);
}

.cta {
  padding-block: calc(var(--outer-padding-y) * 1.125);
}

.cta-btn {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: crimson;
  background-color: whitesmoke;
  border: 3px solid;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: all 0.25s ease-in;
}

.cta-btn:hover {
  cursor: pointer;
  background-color: crimson;
  color: white;
  border: 3px solid;
}

.cta-btn:active {
  cursor: pointer;
  color: silver;
}

/* Menu page related styles */

.menu-header {
  background-color: crimson;
  color: white;
}

.menu-header .section-heading {
  font-size: 2.5rem;
  /* padding-bottom: 0.75rem; */
}

.menu-header .sub-heading {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
}

.submenu .section-heading {
  background-color: crimson;
  color: white;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 2rem;
  padding-block: var(--outer-padding-y);
}

.card {
  width: 300px;
  color: crimson;
  background-color: whitesmoke;
  border: 4px solid whitesmoke;
  border-radius: 6px;
  box-shadow: var(--shadow-short);
  transition: all 0.3s ease-in;
}

.card:hover {
  cursor: pointer;
  box-shadow: var(--shadow-long);
  scale: 1.01;
  opacity: 0.9;
}

.card:hover img {
  overflow: hidden;
}

.image-container {
  width: 100%;
  /* height: 200px; */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.card-text {
  padding-inline: calc(var(--outer-padding-x) / 2);
  padding-block: calc(var(--outer-padding-y) / 2);
}

.card-text p {
  padding-block: calc(var(--outer-padding-y) / 3);
}

.card-text .item-name {
  font-size: 1.25rem;
}

.card-text .item-description {
  font-size: 1rem;
  line-height: 1.375;
}

.card-text .item-price {
  font-size: 1.2rem;
  font-weight: bold;
}
